.item {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #fafafa;
  border-radius: 20px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.avatar {
  margin-right: 10px;
}

.name {
  font-size: 20px;
  font-weight: 400;
}

.status {
  align-self: center;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  border-radius: 100%;
}

.statusOnline {
  composes: status;
  background-color: green;
}

.statusOffline {
  composes: status;
  background-color: red;
}
